
.jumbotron h1 {
	padding-top: 25px;
	padding-bottom: 70px;
}

.atas img {
	width: 300px;
}
.atas p {
	padding-bottom: 20px;
}

.servis img{
	padding-top: 50px;
}
.servis p{
	padding-top: 20px;
}


.team img{
	width: 200px;
	padding-top: 20px;
} 

.kontak h2{
	text-align: center;
}
.kontak {
	padding-bottom: 50px;
}

hr{	
	width: 200px;
	color: red;
}